Source: sdlgfx
Maintainer: Debian SDL packages maintainers <pkg-sdl-maintainers@lists.alioth.debian.org>
Uploaders: Felix Geyer <fgeyer@debian.org>, Manuel A. Fernandez Montecelo <mafm@debian.org>
Section: libs
Priority: optional
Standards-Version: 4.2.1
Rules-Requires-Root: no
Build-Depends: debhelper (>= 11~),
               libsdl1.2-dev,
               libjs-jquery,
	       tar (>= 1.28),
Vcs-Browser: https://salsa.debian.org/sdl-team/sdlgfx
Vcs-Git: https://salsa.debian.org/sdl-team/sdlgfx.git
Homepage: https://www.ferzkopp.net/Software/SDL_gfx-2.0/


Package: libsdl-gfx1.2-5
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: drawing and graphical effects extension for SDL
 The SDL_gfx library is an extension to the SDL library which provides
 basic antialiased drawing routines such as lines, circles or polygons,
 an interpolating rotozoomer for SDL surfaces, framerate control and MMX
 image filters.
 .
 This package contains the SDL_gfx runtime library.

Package: libsdl-gfx1.2-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends},
         libsdl-gfx1.2-5 (= ${binary:Version}),
         libsdl1.2-dev
Suggests: libsdl-gfx1.2-doc
Description: development files for SDL_gfx
 The SDL_gfx library is an extension to the SDL library which provides
 basic antialiased drawing routines such as lines, circles or polygons,
 an interpolating rotozoomer for SDL surfaces, framerate control and MMX
 image filters.
 .
 This package contains the header files and static library needed to
 compile applications that use SDL_gfx.

Package: libsdl-gfx1.2-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
         libjs-jquery,
Recommends: libsdl-gfx1.2-dev (= ${binary:Version})
Description: documentation files for SDL_gfx
 The SDL_gfx library is an extension to the SDL library which provides
 basic antialiased drawing routines such as lines, circles or polygons,
 an interpolating rotozoomer for SDL surfaces, framerate control and MMX
 image filters.
 .
 This package contains the documentation to program with the SDL_gfx library.
